/* Préliminaire */

html {
	background-color: wheat;
	padding-right: 10%;
	padding-left: 10%;
	font-family: arial, sans-serif;
}

body {
	background-color: aliceblue;
	margin: 0%;
	padding-left: 3%;
	padding-right: 3%;
	min-height: 100vh;
	margin-top: -1%;
}

/*--barre de navigation--*/

nav {
	background-color: #333;
	font-size: 110%;
	font-weight: bold;                /* Police en gras, pour la barre de navigation */
	margin: 0%;
}

nav ul {
	display: flex;
	list-style: none;
}

nav a {
	color: white;
	padding: 14px;
	text-decoration: none;
	display: block;
}

nav a:hover {
	background-color: rgba(255, 255, 255, 0.2);
	color: #87abf8;
	text-decoration: underline;
	text-decoration-color: #87abf8;
	text-decoration-thickness: 3px;
}

/* Header */

h1 {
	font-size: 250%;
	padding: 1%;
	text-align: center;
	border-width: 10px;
	border-style: solid;
	border-color: #2798F5;
	text-transform: uppercase;
}

/* Main */

section > resume_h2 {
	padding: 1%;
	text-align: left;
	background-color:rgb(0, 255, 191);
}

main > video {
	width: 80%;
	border-radius: 12px;
	box-shadow: 0 10px 30px rgba(0,0,0,0.3);
	display: block;
	margin: 0 auto;
	margin-bottom: 3%;
}

.bouton-telechargement {
	display: block;
	width: 50%;
	margin: 0 auto 3% auto;
	padding: 12px 20px;
	background-color: #105f00;
	color: white;
	text-decoration: none;
	border-radius: 8px;
	font-size: 120%;
	text-align:center;
}

.bouton-telechargement:hover {
	background-color: #157b00;
}

main > .paragraphe-video {
	font-size: 130%;
	padding: 1%;
	background-color: #4c4c4c;
}

/* Footer */

footer {
	margin-top: 4%;
	min-height: 20vh;
	background-color: rgb(146, 145, 145);
}
footer > p
{
	font-size: 120%;
	text-align:center;
	font-weight: bold;
}

/* script */

#unTab {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
  font-family: sans-serif;
  font-size: 0.8rem;
  letter-spacing: 1px;
}

caption {
  caption-side: bottom;
  padding: 10px;
  font-weight: bold;
}


